# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.pnp
.pnp.js

# Python cache
__pycache__
.pyc
# .bashrc
.bashrc
# testing
/coverage

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# instructions
instructions.txt

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# server logs
**/logs

# .flaskenv
.flaskenv